.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
}

.counter__actionInc,
.counter__actionDec {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8B8B8B;
    width: 55px;
    height: 55px;
    font-size: 25px;
    cursor: pointer;
}

.counter__actionInc {
    border-left: 1px solid #DDDDDD;
    border-radius: 6px;
}

.counter__actionDec {
    border-right: 1px solid #DDDDDD;
    border-radius: 6px;
}

.counter__value {
    padding: 14px 40px;
    font-size: 20px;
    font-weight: 600;
    color: #282828;
}
