.blockWithItemsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px;
}

.blockWithItemsHeader__header {
    font-size: 64px;
    font-weight: 700;
    color: #282828;
}

.blockWithItemsHeader__delimiter {
    height: 1px;
    flex-grow: 4;
    background-color: #DDDDDD;
    margin-left: 15px;
}

.blockWithItemsHeader__redirectButton {
    background-color: transparent;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    color: #8B8B8B;
    font-size: 14px;
    display: flex;
    padding: 8px 26px;
    cursor: pointer;
    user-select: none;
}
